<!-- <div>Dashboard</div>
<div style="width:250px; background-color: #cccccc; padding: 10px;">
	<h3>Today's task</h3>
	Loren Epsum Loren Epsum Loren Epsum Loren Epsum
</div>
<div style="width:250px; background-color: #cccccc; padding: 10px;">
	<h3>Resource Utilization</h3>
	Loren Epsum Loren Epsum Loren Epsum Loren Epsum
</div>
<div style="width:250px; background-color: #cccccc; padding: 10px;">
	<h3>Upcoming Leaves</h3>
	Loren Epsum Loren Epsum Loren Epsum Loren Epsum
</div>
<div style="width:250px; background-color: #cccccc; padding: 10px;">
	<h3>Upcoming Leaves</h3>
	Loren Epsum Loren Epsum Loren Epsum Loren Epsum
</div> -->

<div class="row">
  <div class="col-md-6">
  	<div class="panel panel-success">
      <div class="panel-heading"><h3>Projects</h3></div>
      <div class="panel-body">
      <ul>
        <li> <strong>Today's Task: </strong>{{tasks.length}}</li>
        <li> <strong>Project Completed: </strong>{{projects.length}}</li>
        <li> <strong>Project In-Progress: </strong>{{projects.length}}</li>

      </ul>
      
      </div>
    </div>
  </div>
  <div class="col-md-6">
  	<div class="panel panel-warning">
      <div class="panel-heading"><h3>Resource Utilization</h3></div>
      <div class="panel-body">Loren Epsum Loren Epsum Loren Epsum Loren Epsum Loren Epsum Loren Epsum Loren Epsum Loren Epsum Loren Epsum Loren Epsum Loren Epsum Loren Epsum Loren Epsum Loren Epsum Loren Epsum Loren Epsum</div>
    </div>
  </div>
</div>
<div class="row">
  
  <div class="col-md-6">
  	<div class="panel panel-danger">
      <div class="panel-heading"><h3>Upcoming Leaves</h3></div>
      <div class="panel-body">Loren Epsum Loren Epsum Loren Epsum Loren Epsum Loren Epsum Loren Epsum Loren Epsum Loren Epsum Loren Epsum Loren Epsum Loren Epsum Loren Epsum Loren Epsum Loren Epsum Loren Epsum Loren Epsum</div>
    </div>
  </div>

  <div class="col-md-6">
  	<div class="panel panel-info">
      <div class="panel-heading"><h3>Information</h3></div>
      <div class="panel-body">Loren Epsum Loren Epsum Loren Epsum Loren Epsum Loren Epsum Loren Epsum Loren Epsum Loren Epsum Loren Epsum Loren Epsum Loren Epsum Loren Epsum Loren Epsum Loren Epsum Loren Epsum Loren Epsum</div>
    </div>
  </div>
</div>

