

<div class="row">
	<div class="col-sm-6"></div>
</div>
<div class="row">
<div class="col-sm-6 col-sm-offset-3 form-box" style="background-color: #f3f3f3">
<form ng-submit="onSubmit()">
  <div class="form-signin">
 	 <h4 class="form-signin-heading">Welcome to DailyPlatter! Please login</h4>
 	 <div class="form-group"></div>
 	 <div class="alert" ng-class="{'alert-danger' : message.type == -1, 'alert-success' : message.type == 1}" ng-show="message.type">{{message.text}}</div>
 	 <div class="form-group"></div>
    <input type="email" class="form-control" id="email" placeholder="Enter email" ng-model="email" required="" autofocus="" >
  </div>
  <div class="form-group"></div>
  <div class="form-group">
    <input type="password" class="form-control" id="password" placeholder="Password" ng-model="password">
  </div>
  <button type="submit" class="btn btn-primary">Login</button>
</form>
</div>
</div>
