<div class="row">
	<div class="col-md-10"><h4>/ Timesheet <small>/ Report</small></h4></div>
	<div class="col-md-2"><a ui-sref="timesheet_add" class="btn btn-success pull-right" role="button">Add Timesheet</a>
	<a href="/api/downloadTimesheet" class="btn btn-info" role="button"><span class="glyphicon glyphicon-download"></span></a>
	</div>
</div>
<hr>

<div class="panel panel-primary">
  <div class="panel-heading">Timesheet</div>
  <div class="panel-body">
  	<table class="table table-striped">
  		<thead>
	      <tr>
	      	<th>Date</th>
	      	<th>Effort</th>
	        <th>Resource Name</th>
	        <th>Job Code</th>
	        <th>Project Name</th>
	        <th>Task Name / Remark</th>
	      </tr>
	    </thead>
	    <tbody>
			<tr ng-repeat="timesheet in timesheets | orderBy: '-date'">
				<!-- <td>{{$index+1}}</td> -->
				<td>{{timesheet.date | date:"dd-MMM-yy"}}</td>
				<td>{{timesheet.effort}}</td>	
				<td>{{timesheet.user.name}}</td>
				<td>{{timesheet.task.project.projectid}}</td>
				<td>{{timesheet.task.project.projectname}}</td>
				<td>{{timesheet.task.name}}</td>
				
				
				<!-- <td>{{timesheet.task.name}}</td> -->
				<!-- <td><a href="#/project_details/{{project._id}}">{{project.projectname}}</a></td>
				<td>{{project.account.name}}</td>
				<td><a href="#/project_edit/{{project._id}}"><span class="glyphicon glyphicon-edit"></span></a> | <a href="#/task_add/{{project._id}}">Add Task</a></td> -->
			</tr>
		</tbody>
	</table>

  </div>
</div>


